.idea/
__pycache__
__temp__/
dqn_pong_model
cache/
*.ipynb
debug.log
*.swp

# test artifacts
underwater_rl/test/assets/memory-np.p
underwater_rl/test/tmp

# Cython build artifacts
underwater_rl/*.html
underwater_rl/*.c
underwater_rl/*.so
underwater_rl/build
